<!-- Jon's Header Code -->

<div style="width: 100%; background: #ffffff; height: 76px">
  <div class="headerWrap">
    <div class="headerMain">
      <!-- Left Menu Code -->
      <input type="checkbox" id="toggle-left" title="Menu Toggle Button" />
      <div class="page-wrap">
        <div class="top-bar">
          <label for="toggle-left" class="menu-toggle" title="Button for Menu">
            <img
              class="first"
              src="/assets/theme_image/menu.png"
              alt="Activate Menu"
            />
            <img
              class="away"
              src="/assets/theme_image/X.svg"
              alt="Deactivate Menu"
            />
          </label>
        </div>
        <nav class="menu" aria-label="Navigation">
          <div class="menuBox">
            <div class="menuTop"><span class="menuText">MENU</span></div>
            <a
              class="menuLink"
              href="/explore/"
              title="View the Town of Cary Data Catalog"
            >
              <div class="menuButton">Catalog</div>
            </a>
            <a
              class="menuLink"
              href="/map/"
              title="Create a Map from the Town of Cary Open Data Portal."
            >
              <div class="menuButton">Create a Map</div>
            </a>
            <a
              class="menuLink"
              href="/chart/"
              title="Create a Chart from the Town of Cary Open Data Portal."
            >
              <div class="menuButton">Create a Chart</div>
            </a>
            <a
              class="menuLink"
              href="/page/request/"
              title="Suggest data to the Town of Cary"
            >
              <div class="menuButton">Suggest Data</div>
            </a>
            <a
              class="menuLink"
              href="/page/storydirectory/"
              title="Browse Town of Cary Data Stories"
            >
              <div class="menuButton">Data Stories</div>
            </a>
            <a
              class="menuLink"
              href="/page/storysubmission/"
              title="Submit a Story to Town of Cary"
            >
              <div class="menuButton">Submit a Story</div>
            </a>
            <a class="menuLink" href="/pages/policy/" title="Open Data Policy">
              <div class="menuButton">Open Data Policy</div>
            </a>
            <a
              class="menuLink"
              href="/page/partners/"
              title="Town of Cary Community"
            >
              <div class="menuButton">Community</div>
            </a>
            <a
              class="menuLink"
              href="/page/contact/"
              title="Contact the Town of Cary"
            >
              <div class="menuSublinks">Contact Us</div>
            </a>
            <a
              class="menuLink"
              href="/page/help/"
              title="Help with the Town of Cary Open Data Portal."
            >
              <div class="menuSublinks">Help</div>
            </a>
            <a
              class="menuLink"
              href="/conditions/"
              title="Town of Cary Open Data Portal Terms of Use."
            >
              <div class="menuSublinks">Terms of Use</div>
            </a>
            ##secondary-menu##
            <div class="menuBottom">
              <a
                href="https://twitter.com/intent/tweet?text=Town%20of%20Cary%20Open%20Data&url=https://data.townofcary.org/"
                title="Town of Cary Official Twitter"
                target="_blank"
              >
                <div class="imgButtons">
                  <img
                    style="height: 50px"
                    src="/assets/theme_image/Twitter.svg"
                    alt="Twitter"
                  />
                </div>
              </a>
              <a
                href="https://www.facebook.com/sharer/sharer.php?u=https://data.townofcary.org/"
                title="Town of Cary Official Facebook page"
                target="_blank"
              >
                <div class="imgButtons">
                  <img
                    style="height: 50px"
                    src="/assets/theme_image/facebook-3.svg"
                    alt="Facebook"
                  />
                </div>
              </a>
              <a
                href="mailto:?subject=Town of Cary Open Data&body=https://data.townofcary.org/"
                title="Email us"
              >
                <div class="imgButtons">
                  <img
                    style="height: 50px"
                    src="/assets/theme_image/Mail.svg"
                    alt="Email"
                  /></div
              ></a>
            </div>
          </div>
        </nav>
      </div>
      <!-- Top Bar Code -->
      <div class="ToCLogo" style="float: left">
        <a href="/" title="Town of Cary | Open Data Portal Home">
          <img
            id="headerImg"
            src="/assets/theme_image/Screen Shot 2019-03-27 at 9.02.48 PM.png"
            alt="Home"
          />
          <img
            src="/assets/theme_image/TwonOfCary-Small.png"
            alt="Home"
            id="mobileHeaderImg"
          />
        </a>
      </div>
      <div class="wideSearch" style="float: right">
        <img
          alt="Search Here"
          class="spyGlass"
          src="/assets/theme_image/Search-512.png"
        />
        <ods-searchbox
          placeholder="Search Cary's Data..."
          translate="placeholder"
        ></ods-searchbox>
      </div>
      <div class="smallSearch">
        <img
          alt="Search"
          class="spyGlass"
          src="/assets/theme_image/Search-512.png"
        />
      </div>
    </div>
    <div class="menuTopBar" style="width: 100%; position: absolute">
      <div class="grid2">
        <div class="col2 col2-1-of-8 Menu_Catalog">
          <a
            class="menuLink"
            href="/explore/"
            title="View the Town of Cary Data Catalog"
          >
            Catalog
          </a>
        </div>
        <div class="col2 col2-1-of-8 Menu_Map">
          <a
            class="menuLink"
            href="/map/"
            title="Create a Map from the Town of Cary Open Data Portal."
          >
            Create a Map
          </a>
        </div>
        <div class="col2 col2-1-of-8 Menu_Chart">
          <a
            class="menuLink"
            href="/chart/"
            title="Create a Chart from the Town of Cary Open Data Portal."
          >
            Create a Chart
          </a>
        </div>
        <div class="col2 col2-1-of-8 Menu_Suggest">
          <a
            class="menuLink"
            href="/page/request/"
            title="Suggest data to the Town of Cary"
          >
            Suggest Data
          </a>
        </div>
        <div class="col2 col2-1-of-8 Menu_DataStories">
          <a
            class="menuLink"
            href="/page/storydirectory/"
            title="Browse Town of Cary Data Stories"
          >
            Data Stories
          </a>
        </div>
        <div class="col2 col2-1-of-8 Menu_SubmitStory">
          <a
            class="menuLink"
            href="/page/storysubmission/"
            title="Submit a Story to Town of Cary"
          >
            Submit a Story
          </a>
        </div>
        <div class="col2 col2-1-of-8 Menu_Contact">
          <a
            class="menuLink"
            href="/page/contact/"
            title="Contact the Town of Cary"
          >
            Contact Us
          </a>
        </div>
        <div class="col2 col2-1-of-8 Menu_Help">
          <a
            class="menuLink"
            href="/page/help/"
            title="Help with the Town of Cary Open Data Portal."
          >
            Help
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
