<!-- Jon's Footer Code -->
<div class="townStrip" style="margin-bottom: -6px">
  <img src="https://data.townofcary.org/assets/theme_image/Footer_Bottom.png" alt="Cary skyline backdrop" style="width: 100%" />
</div>
<div class="footerWrap" style="float: left">
  <div class="footerMain">
    <div style=" float: left; margin-left: 20px; font-size: 14px; text-transform: uppercase; ">
      <p>
        ##manage-cookies##
      </p>
    </div>
    <div class="footerDivLeft" style="clear: both">
      <a href="/" title="Town of Cary | Open Data Portal Home"></a>
    </div>
    <div class="footerDivLeft"
      style=" margin-top: 68px; margin-left: 20px; color: #ffffff; font-size: 14px; text-transform: uppercase; ">
      <a href="https://goo.gl/maps/SkaRtYVuNPN2" target="_blank" style="color: #ffffff">
        316 N. Academy St. Cary, NC 27513
      </a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="tel:919-469-4000" style="color: #ffffff">
        919-469-4000
      </a>
    </div>
    <div class="footerRight" style=" margin-top: 68px; color: #9f9f9f; font-size: 14px; text-transform: uppercase; ">
      <p>
        Ⓒ Copyright Town of Cary, NC
        <span style="color: #80cfed">
          |
        </span>
        All Rights Reserved
        <span style="color: #80cfed">
          |
        </span>
        2019
      </p>
    </div>
  </div>
</div>