<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="poppins_font_styles.css">
    <title>How to Use Poppins Stylesheet</title>
</head>


<!-- There are seven options for font colors: primary color Cary Blue, secondary 
color Orange, secondary color Green, tertiary color Gray, tertiary color Light Gray, 
tertiary color Black, and tertiary color White. -->

<!-- There are six font size: h1 is 2.0rem, h2 is 1.75rem, h3 is 1.50rem, h4 is
1.25rem, h5 is 1.10rem, and h6 is 1.00rem. To use a font color with a specific 
font size, use the css style tag [color]-[heading_title].-->

<h1 class="blue-h1">blue-h1 uses cary blue font color and 2.0rem font size</h1>

<h2 class="green-h2">green-h2 uses green font color and 1.75rem font size</h2>

<h3 class="orange-h3">orange-h3 uses orange font color and 1.50rem font size</h3>

<h4 class="gray-h4">gray-h4 uses gray font color and 1.25rem font size</h4>

<h5 class="black-h5">black-h5 uses black font color and 1.10rem font size</h5>

<h6 class="lightgray-h6">lightgray-h6 uses light gray font color and 1.00rem font size</h6>

<!-- The style tags above have a default transparent background. To use text with 
white font color and a colored background, use the style tag format 
[color]-[white]-[heading_title]. This background color option is available for all 
colors except white (you cannot use a white text color with a white background).-->

<h1 class="orange-white-h1">orange-white-h1 uses white font color with an orange background</h1>

<h3 class="gray-white-h3">gray-white-h3 uses white font color with a gray background</h3>

<h4 class="blue-white-h4">blue-white-h4 uses white font color with a blue background</h4>

<!-- You can also make the text bold with the style tag format [color]-[bold]-[heading_title]
or [color]-[white]-[bold]-[heading_title].-->

<h2 class="black-bold-h2">black-bold-h2 uses black font color, bold font weight, and 1.75rem font size</h2>

<h3 class="orange-white-bold-h3">orange-white-bold-h3 uses white font color with an orange background, bold font weight,
    and 1.50rem font size</h3>

<h1 class="green-bold-h1">green-bold-h1 uses green font color, bold font weight, and 2.00rem font size
</h1>

</html>