.Menu_Contact {
	border-bottom: 3px solid #d84d32 !important;
}

.page-layout {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}

.ods-box {
	border-color: #ffffff;
}