/* 
<center> deprecation fix
*/
.center {
	margin: auto 0px;
	text-align: center;
}

.page-layout {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.ods-box {
  border-color: #ffffff;
}
